[submodule "_bibliography"]
	path = _bibliography
	url = https://github.com/Genesis-The-Beginning/bibliography.git
[submodule "_quotes"]
	path = _quotes
	url = https://github.com/Genesis-The-Beginning/_quotes.git
[submodule "_notes"]
	path = _notes
	url = https://github.com/Genesis-The-Beginning/notes.git
[submodule "images"]
	path = images
	url = https://github.com/Genesis-The-Beginning/images.git
[submodule "_gallery"]
	path = _gallery
	url = https://github.com/Genesis-The-Beginning/_gallery.git
[submodule "_includes/extras"]
	path = _includes/extras
	url = https://github.com/Genesis-The-Beginning/extras.git
[submodule "_includes/text"]
	path = _includes/text
	url = https://github.com/Genesis-The-Beginning/text.git
